@charset "UTF-8";
@import "./fonts/stylesheet.css";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #222A41;
  line-height: 24px;
  font-weight: 400;
  background: #f6f8fb;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 100%;
}

h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-weight: 900;
  font-size: 42px;
  line-height: 48px;
}

h4 {
  font-weight: 900;
  font-size: 34px;
  line-height: 42px;
}

h5 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

h6 {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

p.sm {
  font-size: 14px;
  line-height: 19px;
}

main {
  overflow: hidden;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.button.primary {
  padding: 14px 30px;
  background-color: #D8232A;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 4.2px;
  color: #fff;
}
.button.primary:hover {
  background-color: #000;
}

.video {
  width: 100%;
  padding-bottom: 116%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000044;
}
.video.active::after {
  display: none;
}
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video video [poster] {
  width: 100%;
  height: 100%;
}
.video video:hover ~ .video__play.active {
  opacity: 1;
}
.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  background-color: #D8232A;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.video__play.active {
  opacity: 0;
}
.video__play.active .video__play-icon img {
  display: none;
}
.video__play.active .video__play-icon::after {
  display: block;
}
.video__play.active .video__play-icon::before {
  display: block;
}
.video__play.active:hover {
  opacity: 1;
}
.video__play-icon {
  width: 36px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__play-icon::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;
  width: 7px;
  height: 45%;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.video__play-icon::before {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  right: 35%;
  width: 7px;
  height: 45%;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.video__play-icon img {
  width: 100%;
  max-width: 30px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  position: absolute;
  top: calc(100% + 40px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.arrows button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
}
.arrows button:hover {
  opacity: 0.7;
}
.arrows button svg {
  width: 100%;
  height: 14px;
  stroke: #D8232A;
  fill: transparent;
}
.arrows .prev svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.input {
  border-bottom: 2px solid #d8232a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.input input,
.input textarea {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #6d7783;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 10px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder {
  color: #6d7783;
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder {
  color: #6d7783;
}
.input input:-ms-input-placeholder, .input textarea:-ms-input-placeholder {
  color: #6d7783;
}
.input input::-ms-input-placeholder, .input textarea::-ms-input-placeholder {
  color: #6d7783;
}
.input input::placeholder,
.input textarea::placeholder {
  color: #6d7783;
}
.input textarea {
  resize: none;
  text-align: start;
  min-height: 120px;
}
.input label {
  font-size: 18px;
  line-height: 24px;
  color: #D8232A;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding-left: 16px;
}

.check {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}
.check span {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #D8232A;
  z-index: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.check span::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 9px;
  border-right: 2.5px solid #D8232A;
  border-bottom: 2.5px solid #D8232A;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%) rotate(45deg);
          transform: translate(-50%, -60%) rotate(45deg);
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.check input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.check input:checked ~ span::before {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1170px;
  max-height: 840px;
}
.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 4;
}
.modal__close:hover::before {
  background-color: #D8232A;
}
.modal__close:hover::after {
  background-color: #D8232A;
}
.modal__close::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #F6F8FB;
}
.header.sticky .nav a {
  color: #000;
}
.header.sticky .logo img.big {
  display: none;
}
.header.sticky .logo img.sm {
  display: block;
}
.header.active .logo img.big {
  display: none;
}
.header.active .logo img.sm {
  display: block;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.header__inner {
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  position: absolute;
  z-index: 9;
  top: 30px;
  left: 0;
}
.header .logo img {
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .logo img.sm {
  display: none;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav.dark a {
  color: #000;
}
.nav.dark a:hover {
  color: #D8232A;
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner li {
  margin-right: 26px;
}
.nav__inner li:last-child {
  margin: 0;
}
.nav__inner li a {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.nav__inner li a.active {
  text-decoration: underline;
}
.nav__inner li a:hover {
  opacity: 1;
  color: #000;
}

.burger {
  display: none;
}

body.active {
  overflow: hidden;
}

.footer .auto__container {
  max-width: 1240px;
}
.footer__inner {
  padding: 90px 65px 80px 90px;
  background-color: #D8232A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding-top: 12px;
}
.footer__inner-logo img {
  width: 100%;
}
.footer__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 200px);
  max-width: 680px;
}
.footer__inner-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(33.3% - 15px);
  max-width: 192px;
}
.footer__inner-col > a {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
.footer__inner-col > a:hover {
  opacity: 1;
  color: #000;
}
.footer__inner-col > a:last-child {
  margin-bottom: 0;
}
.footer__inner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner-social a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 14px;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 50%;
}
.footer__inner-social a:hover {
  background-color: #fff;
}
.footer__inner-social a:hover svg {
  fill: #D8232A;
}
.footer__inner-social a svg {
  fill: #fff;
  width: 13px;
  height: 13px;
}
.footer__inner-social a svg.thin {
  width: 8px;
  height: 14px;
}
.footer__inner h6 {
  color: #fff;
  margin-bottom: 15px;
}
.footer__inner p {
  color: #fff;
  margin-bottom: 36px;
}

.copy {
  padding: 80px 0 20px;
}
.copy__inner {
  text-align: center;
  color: #000;
}

.hero {
  padding: 200px 0 90px;
  position: relative;
}
.hero.big::before {
  right: 55%;
  max-width: 550px;
}
.hero.big .hero__inner {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero.big .hero__inner-content {
  max-width: 400px;
  width: calc(40% - 25px);
  padding: 0;
}
.hero.big .hero__inner-slider-wrapper {
  width: calc(60% - 25px);
  max-width: 705px;
}
.hero.big .hero__inner .arrows button.slick-disabled {
  opacity: 0.2;
  pointer-events: none;
}
.hero.big .hero__inner .arrows button.slick-disabled svg {
  stroke: #000;
}
.hero.big .hero__inner .arrows button svg {
  stroke: #D8232A;
}
.hero::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #D8232A;
  content: "";
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hero__inner-content {
  width: calc(35% - 25px);
  max-width: 345px;
  padding-top: 30px;
}
.hero__inner-slider-wrapper {
  width: calc(65% - 25px);
  max-width: 705px;
  position: relative;
}
.hero__inner .arrows {
  left: unset;
  right: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  top: calc(100% + 20px);
}
.hero__inner .arrows button svg {
  stroke: #fff;
}
.hero__inner h6 {
  font-weight: 400;
  color: #D8232A;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.hero__inner h1 {
  margin-bottom: 50px;
  position: relative;
}
.hero__inner h1 br {
  display: none;
}
.hero__inner h1 span {
  position: absolute;
  font-size: 112px;
  line-height: 126px;
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
  color: #D8232A;
  left: 40%;
  top: 55%;
  pointer-events: none;
}
.hero .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.hero .slick-slide {
  height: unset !important;
}
.heroItem.vertical img {
  width: auto;
  max-width: 400px;
}
.heroItem__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.heroItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.sponsors {
  padding: 160px 0 100px;
}
.sponsors__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sponsors__inner-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
}
.sponsors__inner-item.big {
  padding-top: 10px;
}
.sponsors__inner-item img {
  width: 100%;
}

.area__inner-title {
  text-align: center;
  margin-bottom: 65px;
}
.area__inner-title h5 {
  color: #D8232A;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.area__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}
.areaItem {
  margin: 12px 12px 60px;
  width: calc(25% - 24px);
  -webkit-box-shadow: 4px 5px 5px 0px #3c4e690d;
          box-shadow: 4px 5px 5px 0px #3c4e690d;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}
.areaItem:nth-child(n+5) {
  margin-bottom: 0;
}
.areaItem.bg {
  color: #fff;
}
.areaItem.bg:hover::before {
  opacity: 0.8;
}
.areaItem.bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #D8232A;
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
}
.areaItem.bg .areaItem__icon {
  opacity: 0;
  pointer-events: none;
}
.areaItem.bg h5 {
  color: #fff;
}
.areaItem:hover {
  background-color: #D8232A;
  color: #fff;
}
.areaItem:hover .areaItem__icon svg {
  stroke: #fff;
}
.areaItem:hover h5 {
  color: #fff;
}
.areaItem__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.areaItem__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.areaItem__icon {
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}
.areaItem__icon svg {
  width: 100%;
  height: 100%;
  stroke: #D8232A;
  fill: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.areaItem h5 {
  font-weight: 400;
  letter-spacing: 1.3px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  line-height: 30px;
  height: 60px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.areaItem p {
  max-width: 195px;
  position: relative;
  z-index: 2;
  height: 96px;
  overflow: hidden;
}

.info {
  padding: 120px 0;
  position: relative;
}
.info.base {
  padding: 0;
}
.info.base::before {
  display: none;
}
.info::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #D8232A;
}
.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__inner-content {
  width: 50%;
  padding: 120px 40px 90px 60px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 10px 50px 59px 0px #3c4e691a;
          box-shadow: 10px 50px 59px 0px #3c4e691a;
}
.info__inner-content.sm {
  padding: 60px 30px 60px 60px;
}
.info__inner-content-name {
  padding-left: 16px;
  border-left: 2px solid #D8232A;
}
.info__inner-content-name h6 {
  color: #D8232A;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
}
.info__inner-content-name p {
  color: #6d7783;
  margin: 0 !important;
  font-size: 13px;
  line-height: 16px;
}
.info__inner-image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__inner-image img {
  width: 100%;
}
.info__inner h3 {
  margin-bottom: 35px;
  max-width: 390px;
}
.info__inner p {
  margin-bottom: 40px;
  max-width: 390px;
}

.project__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project__inner-title {
  text-align: center;
  margin-bottom: 70px;
}
.project__inner-title h5 {
  font-weight: 400;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.project__inner-title h2 {
  font-size: 48px;
  line-height: 56px;
}
.project__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.project__inner .arrows {
  display: none;
}
.project__inner h2 {
  color: #fff;
}
.project__inner .button {
  margin: 0 auto;
}
.projectItem {
  margin: 10px 10px 80px;
  -webkit-box-shadow: 4px 5px 5px 0px #3c4e690d;
          box-shadow: 4px 5px 5px 0px #3c4e690d;
  width: calc(33.3% - 20px);
  max-width: 350px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.projectItem:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.projectItem:hover .projectItem__content {
  background-color: #D8232A;
}
.projectItem:hover h5 {
  color: #fff;
}
.projectItem:hover p {
  color: #fff;
}
.projectItem:hover p.sm {
  color: #fff;
}
.projectItem__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 85%;
  position: relative;
}
.projectItem__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.projectItem__content {
  padding: 25px;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.projectItem h5 {
  margin-bottom: 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 56px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projectItem p {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projectItem p.sm {
  margin-bottom: 10px;
  font-weight: 400;
  color: #D8232A;
  letter-spacing: 3px;
  font-family: "Source Sans Pro", sans-serif;
  height: unset;
  display: block;
}

.scenes {
  padding-bottom: 150px;
}
.scenes__inner-title {
  text-align: center;
  margin-bottom: 80px;
}
.scenes__inner-title h5 {
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #D8232A;
}
.scenes__inner-slider {
  margin: 0 -14px;
}
.scenes__inner-slider-wrapper {
  position: relative;
}
.scenes__inner .arrows button:focus svg {
  stroke: #D8232A;
}
.scenes__inner .arrows button svg {
  stroke: #222A41;
}
.scenes__inner .slick-disabled {
  opacity: 0.2;
  pointer-events: none;
}
.scenes__inner .slick-disabled svg {
  stroke: #000;
}
.scenes__inner .slick-list {
  overflow: visible;
  padding: 0 !important;
}
.scenes__inner h2 {
  font-size: 48px;
  line-height: 56px;
}
.scenesItem {
  margin: 0 14px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
  -webkit-box-shadow: 4px 5px 5px 0px #3c4e690d;
          box-shadow: 4px 5px 5px 0px #3c4e690d;
}
.scenesItem:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.scenesItem:hover .scenesItem__image-social {
  pointer-events: all;
  opacity: 1;
}
.scenesItem:hover .scenesItem__image::before {
  opacity: 0.5;
  pointer-events: all;
}
.scenesItem__image {
  position: relative;
  padding-bottom: 100%;
  z-index: 1;
}
.scenesItem__image.rect {
  padding-bottom: 85%;
}
.scenesItem__image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #D8232A;
  opacity: 0;
  pointer-events: 0;
  z-index: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.scenesItem__image-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 130px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  pointer-events: none;
}
.scenesItem__image-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}
.scenesItem__image-social a svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.scenesItem__image-social a svg.thin {
  max-width: 14px;
}
.scenesItem__image-social a svg.stroke {
  stroke: #fff;
}
.scenesItem__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.scenesItem__content {
  padding: 30px 30px 22px;
  background-color: #fff;
}
.scenesItem__content h5 {
  margin-bottom: 14px;
}

.intro {
  padding: 100px 0;
}
.intro__inner {
  text-align: center;
}
.intro__inner h4 {
  max-width: 570px;
  margin: 0 auto 40px;
}
.intro__inner p {
  max-width: 790px;
  margin: 0 auto 60px;
}

.contact {
  padding: 90px 0;
}
.contact.sm {
  padding: 0;
}
.contact__inner-title {
  margin-bottom: 80px;
  text-align: center;
}
.contact__inner-form {
  max-width: 750px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.contact__inner-col {
  width: calc(50% - 10px);
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__inner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
  width: 100%;
}
.contact__inner-text p {
  width: calc(100% - 35px);
  font-size: 13px;
  line-height: 16px;
}
.contact__inner .input {
  margin-bottom: 22px;
}
.contact__inner .check {
  margin-right: 15px;
}
.contact__inner .button {
  margin: 0 auto;
  width: 100%;
  max-width: 221px;
}
.contact__inner h5 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #D8232A;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.contact__inner h2 {
  font-size: 48px;
  line-height: 56px;
}
.contact__inner p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery {
  padding-bottom: 150px;
}
.gallery__inner-title {
  text-align: center;
  margin-bottom: 68px;
}
.gallery__inner-title h5 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #D8232A;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.gallery__inner-title h2 {
  font-size: 48px;
  line-height: 56px;
}
.gallery__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -12px;
}
.gallery__inner .arrows {
  display: none;
}
.galleryItem {
  position: relative;
  width: calc(33.3% - 24px);
  margin: 12px;
  max-width: 352px;
}
.galleryItem:hover::before {
  opacity: 0.6;
}
.galleryItem::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D8232A;
  content: "";
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
}
.galleryItem__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 100%;
}
.galleryItem__inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

@media (max-width: 1180px) {
  .auto__container {
    padding: 0 30px;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
    line-height: 52px;
  }

  h3 {
    font-size: 38px;
    line-height: 44px;
  }

  .modal__inner {
    width: 95%;
    position: relative;
    -webkit-transform: translate(0);
            transform: translate(0);
    top: unset;
    left: unset;
    margin: 50px auto;
    height: unset;
    padding: 100px 0;
    max-height: unset;
  }

  .header__inner {
    padding: 30px 0;
  }
  .header .logo {
    width: 65px;
    top: 20px;
  }

  .area__inner-row {
    margin: 0 -8px;
  }
  .areaItem {
    margin: 8px 8px 40px;
    width: calc(25% - 16px);
    padding: 20px;
  }
  .areaItem__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  .areaItem h5 {
    font-size: 20px;
    line-height: 26px;
    height: 52px;
  }
  .areaItem p {
    font-size: 13px;
    line-height: 20px;
    max-width: 170px;
    height: 80px;
  }

  .footer__inner {
    padding: 70px 50px;
  }
  .footer__inner-logo {
    width: 85px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
  }

  h3 {
    font-size: 34px;
    line-height: 42px;
  }

  .modal__inner {
    padding: 80px 0;
  }

  .header.sticky .burger::before {
    background-color: #000;
  }
  .header.sticky .burger span {
    background-color: #000;
  }
  .header.sticky .burger::after {
    background-color: #000;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
  }
  .nav.active {
    transform: translate(0, 0);
    -moz-ransform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    padding: 120px 50px 50px;
    overflow-y: auto;
    background: #F6F8FB;
  }
  .nav__inner li {
    margin: 0 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__inner li a {
    padding: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }
  .nav__inner li a.active {
    text-decoration: unset;
    color: #D8232A;
  }
  .nav__inner li a:hover {
    color: #D8232A;
  }

  .burger {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 9;
  }
  .burger.dark::before {
    background-color: #000;
  }
  .burger.dark span {
    background-color: #000;
  }
  .burger.dark::after {
    background-color: #000;
  }
  .burger:hover {
    opacity: 0.8;
  }
  .burger::before {
    top: 0;
    width: 100%;
    height: 4.5px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-ransform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  .burger span {
    top: 50%;
    width: 100%;
    height: 4.5px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-ransform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
  }
  .burger::after {
    bottom: 0;
    width: 100%;
    height: 4.5px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-ransform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  .burger.active::before {
    background-color: #000;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .burger.active span {
    opacity: 0;
  }
  .burger.active::after {
    background-color: #000;
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  .hero {
    padding: 160px 0 75px;
  }
  .hero.big::before {
    right: unset;
    left: 0;
  }
  .hero.big .hero__inner-content {
    width: calc(45% - 15px);
  }
  .hero.big .hero__inner-slider-wrapper {
    width: calc(55% - 15px);
  }
  .hero.big .hero__inner h1 {
    margin-bottom: 50px;
  }
  .hero::before {
    width: 30%;
  }
  .hero__inner-content {
    width: calc(35% - 15px);
  }
  .hero__inner-slider-wrapper {
    width: calc(65% - 15px);
  }
  .hero__inner h1 {
    margin-bottom: 35px;
  }
  .hero__inner h1 span {
    font-size: 100px;
    line-height: 110px;
  }
  .hero__inner .arrows {
    top: calc(100% + 10px);
  }
  .heroItem {
    max-height: 340px;
  }

  .sponsors {
    padding: 120px 0 80px;
  }

  .info {
    padding: 90px 0;
  }
  .info__inner-content {
    padding: 60px 30px;
  }
  .info__inner-content.sm {
    padding: 40px 30px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .info__inner-content.sm p {
    max-width: 400px;
  }
  .info__inner h3 {
    margin-bottom: 24px;
    max-width: 340px;
  }
  .info__inner p {
    margin-bottom: 30px;
    max-width: 340px;
  }

  .footer__inner {
    padding: 50px 30px;
  }
  .footer__inner-logo {
    width: 70px;
  }

  .copy {
    padding: 60px 0 20px;
  }
}
@media (max-width: 930px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 30px;
    line-height: 38px;
  }

  h4 {
    font-size: 30px;
    line-height: 38px;
  }

  .button.primary {
    padding: 12px 24px;
  }

  .video__play {
    width: 60px;
    height: 60px;
  }
  .video__play-icon {
    width: 26px;
    height: 30px;
  }
  .video__play-icon img {
    max-width: 22px;
  }

  .hero {
    padding: 160px 0 50px;
  }
  .hero__inner p {
    font-size: 13px;
    line-height: 20px;
  }

  .area__inner-title {
    margin-bottom: 40px;
  }
  .area__inner-row {
    margin: 0 -12px;
  }
  .areaItem {
    width: calc(33.3% - 24px);
    margin: 12px 12px 30px;
  }
  .areaItem:nth-child(n) {
    margin-bottom: 30px;
  }
  .areaItem:nth-child(n+7) {
    margin-bottom: 0;
  }

  .info {
    padding: 75px 0;
  }
  .info__inner-content {
    padding: 35px 20px;
  }
  .info__inner-content.sm {
    padding: 30px 20px;
  }
  .info__inner-content.sm p {
    font-size: 13px;
    line-height: 19px;
  }
  .info__inner-content-name {
    padding-left: 12px;
  }
  .info__inner-content-name h6 {
    margin-bottom: 5px;
  }
  .info__inner h3 {
    margin-bottom: 15px;
  }
  .info__inner p {
    margin-bottom: 20px;
  }

  .project__inner-title {
    margin-bottom: 60px;
  }
  .project__inner-row {
    margin: 0 -12px;
  }
  .projectItem {
    width: calc(50% - 24px);
    max-width: unset;
    margin: 10px 12px 60px;
  }

  .gallery {
    padding-bottom: 110px;
  }
  .gallery__inner-title {
    margin-bottom: 50px;
  }
  .galleryItem {
    width: calc(50% - 24px);
    max-width: unset;
  }

  .footer__inner {
    padding: 40px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__inner-logo {
    padding: 0;
    margin-bottom: 30px;
  }
  .footer__inner-links {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer__inner-social a {
    width: 35px;
    height: 35px;
  }

  .copy {
    padding: 40px 0 10px;
  }
}
@media (max-width: 750px) {
  .auto__container {
    padding: 0 20px;
  }

  .video__play {
    width: 80px;
    height: 80px;
  }
  .video__play-icon {
    width: 36px;
    height: 40px;
  }
  .video__play-icon img {
    max-width: 30px;
  }

  .hero {
    padding: 160px 0 0;
  }
  .hero.big::before {
    height: 510px;
  }
  .hero.big .hero__inner-content {
    width: 100%;
    max-width: unset;
  }
  .hero.big .hero__inner-slider-wrapper {
    width: calc(100% + 40px);
    margin: 0 -20px 90px;
    max-width: unset;
  }
  .hero.big .hero__inner h1 {
    margin-bottom: 50px;
  }
  .hero.big .hero__inner h6 {
    margin-bottom: 20px;
  }
  .hero.big .hero__inner p {
    font-size: 15px;
    line-height: 24px;
  }
  .hero::before {
    height: 520px;
  }
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__inner-content {
    width: 100%;
    max-width: unset;
    padding: 0;
  }
  .hero__inner-slider-wrapper {
    width: calc(100% + 40px);
    max-width: unset;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 -20px 20px;
  }
  .hero__inner .arrows {
    top: calc(100% + 20px);
    right: 10px;
  }
  .hero__inner h6 {
    margin-bottom: 46px;
  }
  .hero__inner h1 {
    margin-bottom: 25px;
    line-height: 42px;
  }
  .hero__inner h1 br {
    display: block;
  }
  .heroItem {
    max-height: 290px;
  }
  .heroItem__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sponsors {
    padding: 65px 0 60px;
  }
  .sponsors__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .sponsors__inner-item {
    width: 50%;
    max-width: 250px;
    margin-bottom: 22px;
  }
  .sponsors__inner-item:first-child {
    width: 40%;
  }
  .sponsors__inner-item:nth-child(2) {
    width: 60%;
  }
  .sponsors__inner-item.big {
    width: 40%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    padding: 0;
  }

  .area__inner-row {
    margin: 0 -8px;
  }
  .areaItem {
    margin: 8px 8px 30px;
    width: calc(33.3% - 16px);
    padding: 16px;
  }

  .info {
    padding: 75px 0 100px;
  }
  .info::before {
    top: 20%;
    height: 70%;
  }
  .info.base {
    padding-bottom: 100px;
  }
  .info.base .info__inner h3 {
    margin-bottom: 30px;
  }
  .info.base .info__inner p {
    margin-bottom: 0;
  }
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__inner-content {
    width: calc(100% + 40px);
    max-width: unset;
    padding: 120px 20px 100px;
    margin: 0 -20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info__inner-content.sm {
    padding: 40px 30px 90px;
  }
  .info__inner-content-name {
    width: 100%;
    border: unset;
    padding: 0;
    position: absolute;
    top: calc(100% + 30px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 230px;
  }
  .info__inner-image {
    width: 100%;
    max-width: unset;
    margin-top: -50px;
  }
  .info__inner h3 {
    margin-bottom: 50px;
  }
  .info__inner p {
    margin-bottom: 20px;
    max-width: 350px;
  }

  .footer__inner-col:first-child {
    max-width: 140px;
  }
  .footer__inner-col:nth-child(2) {
    max-width: 160px;
  }
  .footer__inner-col > a {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 12px;
  }
  .footer__inner-col p {
    margin-bottom: 18px;
  }
  .footer__inner-social a {
    width: 30px;
    height: 30px;
  }
  .footer__inner-social a svg {
    width: 11px;
    height: 11px;
  }
  .footer__inner-social a svg.thin {
    width: 7px;
    height: 12px;
  }
}
@media (max-width: 650px) {
  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
  }

  h4 {
    font-size: 28px;
    line-height: 36px;
  }

  .area__inner-row {
    margin: 0 -5px;
  }
  .areaItem {
    margin: 5px 5px 30px;
    width: calc(50% - 10px);
    padding: 20px;
  }
  .areaItem:nth-child(n) {
    margin-bottom: 10px;
  }
  .areaItem:nth-child(n+7) {
    margin-bottom: 0;
  }

  .project__inner-title {
    margin-bottom: 60px;
  }
  .project__inner-row {
    margin: 0 -6px;
  }
  .projectItem {
    width: calc(50% - 12px);
    max-width: unset;
    margin: 6px 6px 40px;
  }
  .projectItem__content {
    padding: 15px;
  }

  .scenes__inner-title {
    margin-bottom: 70px;
  }
  .scenes__inner-slider {
    margin: 0 -8px;
  }
  .scenesItem {
    margin: 0 8px;
  }
  .scenesItem__content {
    padding: 20px;
  }
  .scenesItem__content h5 {
    margin-bottom: 10px;
  }
  .scenes .slick-list {
    overflow: hidden;
    padding: 30px 0 !important;
  }

  .footer__inner {
    padding: 76px 40px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner-logo {
    margin-bottom: 70px;
    width: 100px;
  }
  .footer__inner-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner-col {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }
  .footer__inner-col:last-child {
    margin: 0;
  }
  .footer__inner-col:nth-child(n) {
    width: 100%;
    max-width: 192px;
  }
  .footer__inner-col > a {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .footer__inner-col p {
    margin-bottom: 50px;
  }
  .footer__inner-social a {
    width: 40px;
    height: 40px;
  }
  .footer__inner-social a svg {
    width: 13px;
    height: 13px;
  }
  .footer__inner-social a svg.thin {
    width: 8px;
    height: 14px;
  }

  .copy {
    padding: 65px 0 10px;
  }
  .copy__inner p {
    max-width: 270px;
    margin: 0 auto;
  }

  .gallery {
    padding-bottom: 80px;
  }
  .gallery__inner-title {
    margin-bottom: 45px;
  }
  .gallery__inner-row {
    margin: 0 -6px;
  }
  .galleryItem {
    width: calc(50% - 12px);
    margin: 6px;
  }

  .contact__inner-title {
    margin-bottom: 60px;
  }
  .contact__inner-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact__inner-col {
    width: 100%;
    max-width: unset;
  }
  .contact__inner .input textarea {
    min-height: 85px;
  }
}
@media (max-width: 540px) {
  .video__play {
    width: 50px;
    height: 50px;
  }
  .video__play-icon {
    width: 23px;
    height: 25px;
  }
  .video__play-icon::before {
    width: 4.5px;
  }
  .video__play-icon::after {
    width: 4.5px;
  }
  .video__play-icon img {
    max-width: 19px;
  }

  .modal__close {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
  }
  .modal__inner {
    width: 100%;
    margin: 0;
    padding: 60px 0;
  }

  .header__inner {
    padding: 20px 0;
  }
  .header .logo {
    width: 50px;
    top: 15px;
  }

  .nav__inner {
    padding: 90px 30px 50px;
  }

  .hero {
    padding: 140px 0 0;
  }
  .hero.big::before {
    height: 455px;
    width: 105px;
  }
  .hero::before {
    width: 105px;
    height: 455px;
  }
  .heroItem {
    max-height: 255px;
  }

  .areaItem {
    padding: 15px;
  }
  .areaItem__icon {
    width: 46px;
    height: 46px;
  }
  .areaItem h5 {
    font-size: 18px;
  }
  .areaItem p {
    font-size: 12px;
    line-height: 16px;
    height: 64px;
  }

  .project {
    padding-bottom: 180px;
  }
  .project.big {
    padding-bottom: 0;
  }
  .project.big .project__inner-row-wrapper {
    margin-bottom: 110px;
  }
  .project__inner-row {
    margin: 0 -10px;
  }
  .project__inner-row-wrapper {
    position: relative;
  }
  .project__inner .slick-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  .project__inner .slick-disabled svg {
    stroke: #000;
  }
  .project__inner .arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project__inner .arrows button:focus svg {
    stroke: #D8232A;
  }
  .project__inner .arrows button svg {
    stroke: #222A41;
  }
  .projectItem {
    width: 100%;
    margin: 0 10px;
  }
  .projectItem:hover {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .projectItem__content {
    padding: 20px;
  }

  .scenes__inner-title {
    margin-bottom: 60px;
  }
  .scenesItem:hover {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  .intro {
    padding: 60px 0;
  }
  .intro__inner h4 {
    margin-bottom: 20px;
  }
  .intro__inner p {
    margin-bottom: 40px;
  }

  .gallery {
    padding-bottom: 150px;
  }
  .gallery__inner .arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery__inner .arrows button:focus svg {
    stroke: #D8232A;
  }
  .gallery__inner .arrows button svg {
    stroke: #222A41;
  }
  .gallery__inner .slick-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  .gallery__inner .slick-disabled svg {
    stroke: #000;
  }

  .contact__inner-title {
    margin-bottom: 40px;
  }
  .contact__inner-text p {
    width: calc(100% - 30px);
  }
  .contact__inner .input {
    margin-bottom: 15px;
  }
  .contact__inner .input input,
.contact__inner .input textarea {
    padding: 8px 12px;
  }
  .contact__inner .input label {
    padding-left: 12px;
  }
  .contact__inner .check {
    margin-right: 10px;
  }
  .contact__inner h5 {
    font-size: 20px;
    line-height: 24px;
  }
  .contact__inner h2 {
    font-size: 40px;
    line-height: 48px;
  }
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}